.header{
    text-align: center;
    padding: 32px;
    color: white;
    background-color: #4e44ce;
    border-bottom: 3px solid darkblue;
    /*text-shadow: .5px .5px .5px darkblue;*/
    font-weight: bold;
}